[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "drogon"]
	path = drogon
	url = https://github.com/an-tao/drogon.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
